# SQL Server
SA_PASSWORD=QuintaAzenha2026!

# JWT
JWT_KEY=ChaveSecretaQuintaAzenha2026Maisde32Caracteres!
JWT_ISSUER=ApiQuintaAzenha
JWT_AUDIENCE=QuintaAzenhaClients
JWT_DURATION_MINUTES=60

# Redis
REDIS_CONNECTION_STRING=localhost:6379

# Mountebank
IMPOSTOR_URL=http://localhost:4546

# API
API_PORT=5169